{% extends 'app/base.html' %}
{% load static %}
{% block title %}shoe{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'shoe' %}" class="list-group-item list-group-item-action" aria-current="true">All Shoes</a>
     <a href="{% url 'shoedata' 'hrx'  %}" class="list-group-item list-group-item-action" aria-current="true">HRX</a>
     <a href="{% url 'shoedata' 'nike'  %}" class="list-group-item list-group-item-action" aria-current="true">NIKE</a>
     <a href="{% url 'shoedata' 'below'  %}" class="list-group-item list-group-item-action">Below 2500</a>
     <a href="{% url 'shoedata' 'above'  %}" class="list-group-item list-group-item-action">Above 2500</a>
    <!--<a href="{% url 'shoedata' 'realme'  %}" class="list-group-item list-group-item-action" aria-current="true">Realme</a>
     <a href="{% url 'shoedata' 'oppo'  %}" class="list-group-item list-group-item-action" aria-current="true">Oppo</a>
     <a href="{% url 'shoedata' 'oneplus'  %}" class="list-group-item list-group-item-action" aria-current="true">OnePlus</a>
     <a href="{% url 'shoedata' 'apple'  %}" class="list-group-item list-group-item-action" aria-current="true">Apple</a>
     <a href="{% url 'shoedata' 'below'  %}" class="list-group-item list-group-item-action">Below 50000</a>
     <a href="{% url 'shoedata' 'above'  %}" class="list-group-item list-group-item-action">Above 50000</a>-->
   </div>
  </div>
  <div class="col-sm-8">
   <div class="row">
    {% for product in shoe %}
     <div class="col-sm-4 text-center mb-4">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" height="250" width="200" class="">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
       </div>
      </a>
     </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}